extends layout

block content
  h1 Sobre MuseArte
  p MuseArte es un museo virtual de arte moderno creado por un apasionado del arte y la tecnología.
  p Autor: Edwin, soñador de mundos virtuales.
