doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MuseArte
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      div.header-container
        h1 MUSEARTE
        h2 Museo Virtual de Arte Moderno
        nav
          ul
            li: a(href="/") Inicio
            li: a(href="/galeria") Galería
            li: a(href="/acerca") Acerca

    main
      block content

    footer
      p © 2025 Museo Virtual
